<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/apps/admin/_static/css/admin.css}" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript" th:src="@{/addons/theme/stv1/_static/js/jquery-1.8.3.min.js}" src="../static/addons/theme/stv1/_static/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" th:src="@{/addons/theme/stv1/_static/js/core.js}"></script>
<script type="text/javascript" th:src="@{/apps/admin/_static/js/module.js}"></script>
<script th:src="@{/addons/theme/stv1/_static/js/common.js}"></script>
<script th:src="@{/addons/theme/stv1/_static/js/module.common.js}"></script>
<script type="text/javascript" th:src="@{/apps/admin/_static/js/admin.js}"></script>
<script type="text/javascript" th:src="@{/addons/theme/stv1/_static/js/ui.layer.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/addons/theme/stv1/_static/js/jquery-1.8.3.min.js}" src="../static/addons/theme/stv1/_static/js/jquery-1.8.3.min.js" ></script>
<body>
<form id="editJobForm" method="post">
    <table>
        <tr>
            <td>职位名称</td>
            <td>
                <input name="jobname" th:value="${job.jobname}">
                <input type="hidden" name="id" th:value="${job.id}">
            </td>
        </tr>
        <tr>
            <td>工作地点</td>
            <td>
                <input name="address" th:value="${job.address}">
            </td>
        </tr>
        <tr>
            <td>职位薪资</td>
            <td>
                <input name="pay" th:value="${job.pay}">
            </td>
        </tr>
        <tr>
            <td><input type="reset" value="重置"></td>
            <td>
                <input type="button" value="提交" onclick="editJob()">
            </td>
        </tr>
    </table>
</form>
<script>
    function editJob() {
        alert($("#editJobForm").serialize())
        $.ajax({
            url:'/job/editJob',
            type:'post',
            data:$("#editJobForm").serialize(),
            success:function () {
                location.href="/job/toJob"
            }
        })
    }
</script>
</body>-->
<body>
<div id="container" class="so_main">
    <div class="tit_tab">
        <!-- START TAB框 -->
        <ul>
            <li><a href="http://try.51eduline.com/index.php?app=mall&mod=AdminGoods&act=index&tabHash=index"  >列表</a></li><li><a href="http://try.51eduline.com/index.php?app=mall&mod=AdminGoods&act=close&tabHash=close"  >回收站</a></li><li><a href="http://try.51eduline.com/index.php?app=mall&mod=AdminGoods&act=addGoods&tabHash=addGoods"  >添加</a></li>
            <li style="float:right"><a href="javascript:" onclick="admin.fold('page_config')">[页面配置]</a>
            </li>
        </ul>                    <!-- END TAB框 -->

        <!-- START PAGE_CONFIG -->
       <!-- <div id='page_config' class = "form2 list" >
            <div class="hd">提示：checkbox如果默认有多个值，请以“,”隔开。</div>
            <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=savePageConfig" method="POST">
                <input type="hidden" name='pageKey' value="mall_AdminGoods_editGoods" />
                <input type="hidden" name='pageTitle' value="编辑商品-1" />
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <th>字段</th>
                        <th class="line_l">名称</th>
                        <th class="line_l">输入类型</th>
                        <th class="line_l">默认值格式</th>
                        <th class="line_l">提示信息</th>
                        <th class="line_l">验证事件</th>
                    </tr>
                    <tr overstyle="on">
                        <td> <input type="hidden" name='key[]' value='id'> id</td>
                        <td><input type="text" name='key_name[]' value=''  class="s-txt"/></td>
                        <td><select name='key_type[]'>
                            <option value='text' >文本框:input_text</option>
                            <option value='password' >密码框:input_password</option>
                            <option value='select' >下拉框:select</option>
                            <option value='radio' >单选框:radio</option>
                            <option value='checkbox' >多选框:checkbox</option>
                            <option value='date' >日期插件:date</option>
                            <option value='textarea' >文本域:textarea</option>
                            <option value='editor' >编辑器:editor</option>
                            <option value='word' >纯文字:word</option>
                            <option value='hidden' selected="selected">隐藏值:input_hidden</option>
                            <option value='image' >图片上传:input_image</option>
                            <option value='file' >附件上传:input_file</option>
                            <option value='user' >用户选择:selectUser</option>
                            <option value='oneUser' >单用户选择:selectOneUser</option>
                            <option value='stringText' >分割存储:stringText</option>
                            <option value='color' >色彩框：color</option>
                            <option value='define' >自定义</option>
                        </select></td>
                        <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                        <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                        <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                    </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='title'> title</td>
                    <td><input type="text" name='key_name[]' value='商品名称'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='goods_cate'> goods_cate</td>
                    <td><input type="text" name='key_name[]' value='商品分类'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' >文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' selected="selected">自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='cover'> cover</td>
                    <td><input type="text" name='key_name[]' value='商品封面'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' >文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' selected="selected">图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='建议尺寸：360*360' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='info'> info</td>
                    <td><input type="text" name='key_name[]' value='商品简介'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' >文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' selected="selected">文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='details'> details</td>
                    <td><input type="text" name='key_name[]' value='商品详情'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' >文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' selected="selected">编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='status'> status</td>
                    <td><input type="text" name='key_name[]' value='商品状态'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' >文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' selected="selected">单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='price'> price</td>
                    <td><input type="text" name='key_name[]' value='兑换价格（积分）'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='stock'> stock</td>
                    <td><input type="text" name='key_name[]' value='库存'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='fare'> fare</td>
                    <td><input type="text" name='key_name[]' value='运费（积分）'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                        <tr overstyle="on">
                    <td> <input type="hidden" name='key[]' value='is_best'> is_best</td>
                    <td><input type="text" name='key_name[]' value='是否精华'  class="s-txt"/></td>
                    <td><select name='key_type[]'>
                        <option value='text' >文本框:input_text</option>
                        <option value='password' >密码框:input_password</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' selected="selected">单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='textarea' >文本域:textarea</option>
                        <option value='editor' >编辑器:editor</option>
                        <option value='word' >纯文字:word</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='image' >图片上传:input_image</option>
                        <option value='file' >附件上传:input_file</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='oneUser' >单用户选择:selectOneUser</option>
                        <option value='stringText' >分割存储:stringText</option>
                        <option value='color' >色彩框：color</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td><input type='text' name='key_default[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_tishi[]' value='' class="s-txt"></td>
                    <td><input type='text' name='key_javascript[]' value='' class="s-txt"></td>
                </tr>                </table>
                <div class="page_btm">
                    <input type="submit" class="btn_b" value="确认" />
                </div>
            </form>
        </div>-->
        <!-- END PAGE_CONFIG -->

        <!-- START CONFIG_FORM -->


        <form method="POST" id="editJobForm" name='detail_form' style="margin-top:5px">
            <div class="form2">
                <input type="hidden" name="id" th:value="${job.id}">
                <dl class="lineD" id='dl_title'>
                    <dt><font color="red"> * </font>职位名称：</dt>
                    <dd>
                        <input name="jobname"  type="text" th:value="${job.jobname}"  class="s-txt" style='width:200px'>
                    </dd>
                </dl>
                <dl class="lineD" >
                    <dt><font color="red"> * </font>工作地点：</dt>
                    <dd>
                        <input name="address"  type="text" th:value="${job.address}"  class="s-txt" style='width:200px'>
                    </dd>
                </dl>
                <dl class="lineD" >
                    <dt><font color="red"> * </font>职位薪资：</dt>
                    <dd>
                        <input name="pay"  type="text" th:value="${job.pay}" class="s-txt" style='width:200px'>
                    </dd>
                </dl>
                <dl class="lineD" >
                    <dt><font color="red"> * </font>招聘人数：</dt>
                    <dd>
                        <input name="jobNumber" type="number" th:value="${job.jobNumber}"  style="width:200px;"/>
                    </dd>
                </dl>
                <dl class="lineD" >
                    <dt><font color="red"> * </font>职位简介：</dt>
                    <dd>
                        <textarea  name="jobDescribe" id="form_info" rows="10" cols="80" th:text="${job.jobDescribe}" ></textarea>
                    </dd>
                </dl>
                <div class="page_btm" >
                    <input type='text' style="display:none">
                    <input type="button" class="btn_b" value="保存" onclick="editJob()"/>
                </div>
            </div>
        </form>

        <!-- END CONFIG_FORM -->
    </div>
    <script>
        function editJob() {
            $.ajax({
                url:'/job/editJob',
                type:'post',
                data:$("#editJobForm").serialize(),
                success:function () {
                    location.href="/job/toJob"
                }
            })
        }
    </script>
    <script type="text/javascript">
        document.onkeydown=function (e) {
            e=window.event||e;
            var key = e.keyCode;
            if ((e.ctrlKey && key == 82) || key == 116) {
                parent.MainIframe.location.reload();
                if(document.all) {
                    e.keyCode = 0;
                    e.returnValue = false;
                }else {
                    e.cancelBubble = true;
                    e.preventDefault();
                }
            }
        }
        /**
         * 初始化对象
         */
//表格样式
        $(document).ready(function(){
            admin.bindTrOn();});
    </script>
</body>

</html>